Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [1]:
NAME = "Matthew Sah"
COLLABORATORS = ""

---

# Calculate over all grade

The file `grades_anon.csv` contains grades for some class. In this homework you are to calculate the overall grade for each student then return the pandas describe matrix. 

The four homework combined account for 40% of the overall grades and lab1 counts for 30% of the overall grade. The remaining 30% of the grades have not yet been determined.

I have given the solution. It is completely up to you to figure how to to parse the csv file to get the describe dataframe I am looking for.

In the decribe matrix:
The `hw_scaled` column is the stats associated with `sum(Homework[1:4])*0.25`

The `overall` column is the stats associated with `hw_scaled*0.4 + LAB1*0.3`

Each of the homework columns is the stats associated with `round(grade/max_score * 100)` for each homework.

In [2]:
import pandas as pd
# Part 1 (20 points)
"""
Return the describe frame from pandas that looks like this. Reverse engineer it!

FYI, I could not use Pickle due to Jupyter limitation. 
"""
expected_solution = pd.read_csv('grades_describe.csv')
expected_solution = expected_solution.set_index('Unnamed: 0')
del expected_solution.index.name

expected_solution

,Homework1,Homework2,Homework3,Homework4,Lab1,hw_scaled,overall
count,119.000000,119.000000,119.000000,119.000000,119.000000,119.000000,119.000000
mean,90.487395,95.563025,93.756303,85.436975,86.823529,91.310924,89.387755
std,16.909463,16.324900,21.680643,20.733841,26.711150,15.679725,18.881177
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,86.000000,100.000000,100.000000,85.000000,94.500000,93.125000,85.785714
50%,93.000000,100.000000,100.000000,91.000000,100.000000,96.000000,97.428571
75%,100.000000,100.000000,100.000000,98.000000,100.000000,97.750000,98.642857
max,100.000000,100.000000,100.000000,104.000000,100.000000,101.000000,100.571429

In [3]:
over_all_grade = []
def calculate_grades_pandas_describe_frame():
    """
    Return the describe data frame associated with the class grades. Use the grades_anon.csv.
    """
     
    import numpy as np
     
    raw_data = pd.read_csv('grades_anon.csv') 
    
    # SORT BY ASSIGNMENT THEN PARSE DATA
    
    hw_assignments = raw_data['assignment']  
    return_data_frame = pd.DataFrame()
    
    hw_scaled_list = []
    
    has_added = False
     
    
    column_order = ["Homework1" , "Homework2" , "Homework3" , "Homework4" , "Lab1"]
    column_order.reverse()
    for homeworks in column_order:  
        
        individual_hw = raw_data[raw_data['assignment'] == homeworks]  
         
        
        raw_score_per_hw = individual_hw["raw_score"] 
        max_score = individual_hw["max_score"] 
        score_of_a_hundred = raw_score_per_hw / max_score * 100 
        return_data_frame.insert(loc = 0, column = homeworks , value = score_of_a_hundred.describe().tolist()) 
         

    # CALCULATE HW_SCALED
    # GROUP BY STUDENT ID
    all_students = set(raw_data["student_id"]  ) 
    raw_score_per_student_list = []
    raw_score_per_student_list_lab = [] 
    for indi_students in all_students:
        indi_students_grades = raw_data[raw_data["student_id"] == indi_students ]  
        Lab1_calculate_temp = indi_students_grades
        #Seperate Lab
        indi_students_grades = indi_students_grades[indi_students_grades["assignment"]!= "Lab1"]
        raw_score_per_student = sum(indi_students_grades["raw_score"] / indi_students_grades["max_score"] * 0.25 * 100 ) 
        raw_score_per_student_list.append(raw_score_per_student)
    
        #Calculate Lab 
        indi_students_grades_lab = Lab1_calculate_temp[Lab1_calculate_temp["assignment"]== "Lab1"]
        raw_score_per_student_list_lab.append(indi_students_grades_lab["raw_score"] / indi_students_grades_lab["max_score"] * 100)
#         print(type(raw_score_per_student_list))

    
    raw_score_per_student_list = pd.Series(raw_score_per_student_list) 
    return_data_frame.insert(loc = 5, column = "hw_scaled" , value = raw_score_per_student_list.describe().tolist()) 

    
    
    
    # OVERALL = Lab1_score, raw_score_per_student_list
#     print(len(raw_score_per_student_list))
#     print(len(raw_score_per_student_list_lab))
    overall_list = []
    for values in range(0 , len(raw_score_per_student_list_lab)):
        tester = float(raw_score_per_student_list[values]  * 0.4 / 0.7 + raw_score_per_student_list_lab[values] * 0.3 / 0.7)
        overall_list.append(tester)

    overall_list = pd.Series(overall_list)
#     print(overall_list)
    return_data_frame.insert(loc = 6, column = "overall" , value = overall_list.describe().tolist()) 
    global over_all_grade
    over_all_grade = overall_list
    
    # UNAME
    return_data_frame.insert(loc = 0 , column = "Unnamed: 0",value = ["count" , "mean" , "std" , "min" , "25%" , "50%" , "75%", "max"])
    
     
    return_final = return_data_frame.round().set_index("Unnamed: 0") 
    return return_final

calculate_grades_pandas_describe_frame()

,Homework1,Homework2,Homework3,Homework4,Lab1,hw_scaled,overall
Unnamed: 0,,,,,,,
count,119.0,119.0,119.0,119.0,119.0,119.0,119.0
mean,90.0,96.0,94.0,85.0,87.0,91.0,89.0
std,17.0,16.0,22.0,21.0,27.0,16.0,19.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,86.0,100.0,100.0,85.0,94.0,93.0,86.0
50%,93.0,100.0,100.0,91.0,100.0,96.0,97.0
75%,100.0,100.0,100.0,98.0,100.0,98.0,99.0
max,100.0,100.0,100.0,104.0,100.0,101.0,101.0

In [4]:
expected_solution = pd.read_csv('grades_describe.csv')
expected_solution = expected_solution.set_index('Unnamed: 0')
del expected_solution.index.name

describe = calculate_grades_pandas_describe_frame()
describe.to_csv('test.csv')
solution = pd.read_csv('test.csv')
solution = solution.set_index('Unnamed: 0')
del solution.index.name
assert pd.DataFrame.equals(expected_solution.round(), solution.round()) == True

In [5]:
# Part 2 (No points!) -- Plot histogram using Seaborn
 
import matplotlib.pyplot as plt
import seaborn as sb

sb.distplot(over_all_grade,kde = False)
# n, bins, patches = plt.hist(over_all_grade, 20, alpha=0.5)
plt.show()