Apply  bagging,  boosting,  and  random  forests  to  a  data  set  of  your choice  (not  one  used  in  the  committee  machines  labs).  <br>  Fit  the  models  on  a training  set,  and  evaluate  them  on  a  test  set.   <br> How  accurate  are  these  results compared  tomore  simplistic  (non-ensemble)  methods  (e.g.,  __logistic  regression__,  __kNN__,  etc)?    <br>What  are  some  advantages  (and  disadvantages)  do  committee machines have related to the data set that you selected?

In [51]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Random Forest
from sklearn.ensemble import RandomForestClassifier

# Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import statsmodels.api as sm

# KNN
from sklearn.neighbors import KNeighborsClassifier

# Boosting
from sklearn.ensemble import AdaBoostClassifier

# Baggin g
from sklearn.ensemble import BaggingClassifier

In [3]:
df = pd.read_csv("./WEEKLY_DATA/weekly.csv" )

In [4]:
df.head()

   Year   Lag1   Lag2   Lag3   Lag4   Lag5    Volume  Today Direction
0  1990  0.816  1.572 -3.936 -0.229 -3.484  0.154976 -0.270      Down
1  1990 -0.270  0.816  1.572 -3.936 -0.229  0.148574 -2.576      Down
2  1990 -2.576 -0.270  0.816  1.572 -3.936  0.159837  3.514        Up
3  1990  3.514 -2.576 -0.270  0.816  1.572  0.161630  0.712        Up
4  1990  0.712  3.514 -2.576 -0.270  0.816  0.153728  1.178        Up

In [16]:
new_column_target = []
for i in df.Direction:
#     print(i)
    if i == "Down":
        new_column_target.append(0)
    elif i =="Up":
        new_column_target.append(1)
weekly_target = pd.DataFrame(new_column_target, columns = ["Direction"] )

In [17]:
weekly_target

      Direction
0             0
1             0
2             1
3             1
4             1
...         ...
1084          1
1085          1
1086          1
1087          1
1088          1

[1089 rows x 1 columns]

In [18]:
weekly_predictor = df.drop("Direction" , axis = 1)

In [19]:
weekly_predictor

      Year   Lag1   Lag2   Lag3   Lag4   Lag5    Volume  Today
0     1990  0.816  1.572 -3.936 -0.229 -3.484  0.154976 -0.270
1     1990 -0.270  0.816  1.572 -3.936 -0.229  0.148574 -2.576
2     1990 -2.576 -0.270  0.816  1.572 -3.936  0.159837  3.514
3     1990  3.514 -2.576 -0.270  0.816  1.572  0.161630  0.712
4     1990  0.712  3.514 -2.576 -0.270  0.816  0.153728  1.178
...    ...    ...    ...    ...    ...    ...       ...    ...
1084  2010 -0.861  0.043 -2.173  3.599  0.015  3.205160  2.969
1085  2010  2.969 -0.861  0.043 -2.173  3.599  4.242568  1.281
1086  2010  1.281  2.969 -0.861  0.043 -2.173  4.835082  0.283
1087  2010  0.283  1.281  2.969 -0.861  0.043  4.454044  1.034
1088  2010  1.034  0.283  1.281  2.969 -0.861  2.707105  0.069

[1089 rows x 8 columns]

In [22]:
predictor_train,predictor_test,target_train,target_test=train_test_split(weekly_predictor,weekly_target,test_size=0.2)

In [28]:
# Logistic Regression 1

logreg = LogisticRegression()
logreg.fit(predictor_train, target_train)
y_pred = logreg.predict(predictor_test)
accuracy = accuracy_score( target_test, y_pred)

/home/mavericku/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/mavericku/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [30]:
print("Accuracy for Logistic Regession : " , accuracy)

Accuracy for Logistic Regession :  0.9954128440366973

In [ ]:
# Logistic Regression 2
# glm_binom = sm.GLM(data.endog, data.exog, family=sm.families.Binomial())

In [57]:
# KNN
classifier = KNeighborsClassifier(n_neighbors=7)

classifier.fit(predictor_train, target_train)

y_prediction_knn = classifier.predict(predictor_test)

prediction_score_knn = accuracy_score(target_test, y_prediction_knn)

print("Accuracy of KNN is " , prediction_score_knn)

Accuracy of KNN is  0.8853211009174312

/home/mavericku/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

In [45]:
# Boosting

boost = AdaBoostClassifier(n_estimators=50,learning_rate=1,algorithm='SAMME')

boost.fit(predictor_train,target_train)

y_prediction = boost.predict(predictor_test)

prediction = accuracy_score(target_test,y_prediction)
print("prediction", prediction)

prediction 1.0

/home/mavericku/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# Bagging

In [47]:
bagging = BaggingClassifier()

In [48]:

bagging.fit(predictor_train, target_train)

y_predict_baggin = bagging.predict(predictor_test)

prediction_score_baggin  = accuracy_score(target_test, y_predict_baggin)

print("prediction " , prediction_score_baggin)

prediction  1.0

/home/mavericku/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/bagging.py:623: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# Random Forest

In [50]:
random_forest_model = RandomForestClassifier(n_estimators = 100 ,  max_features = 5, oob_score = True) 

random_forest_model.fit(predictor_train, target_train)

y_prediction_rfm = random_forest_model.predict(predictor_test)

prediction_score_rfm = accuracy_score(target_test , y_prediction_rfm)

print("prediction " , prediction_score_rfm)

/home/mavericku/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

prediction  1.0